/*header_title 폰트*/
.black-han sans-regular {
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*input 폰트*/
@font-face {
    font-family: 'KCCChassam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  


/*전체 스타일*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*인덱스 스타일*/
.header_title { /*border의 위치를 주기 위해서 margin-left와 margin-right를 각각 따로 설정을 해 중앙을 맞춤*/
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    text-align: center;
    border-bottom: solid 6px #000;
    font-family: "Black Han Sans", sans-serif;
    letter-spacing: 0.1rem;
    font-size: 2rem;
}

.main_top {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    width: 850px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-bottom: solid 3px #000;
}

#main_top_title {
    margin-top: 30px;
    height: 60px;
    border-style: none;
    font-size: 1.3rem;
    font-family: 'KCCChassam';
    font-weight: bold;
    color: #000;
}

.main_middle {
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    text-align: center;
}

.main_middle_content {
    display: grid;
    grid-template-columns: 0.2fr 2fr 0.1fr 0.1fr 1fr;
    padding: 8px;
    border-bottom: solid 3px #000;
}

/*커스텀 체크박스 시작*/
input {
	display: none;
}

.click_label {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 3px solid #000;
    display: inline-block;
    position: relative; /**/
    transition: border-color ease 0.2s; /*checkbox를 클릭 시 변화를 주기 위해서 넣음*/
    cursor: pointer; /*사용자의 마우스 커서를 pointer로 바꿈*/
}

.click_label::before, .click_label::after {
    position: absolute;
    height: 0;
    width: 4px;
    background-color: #ff0000;
    display: inline-block;
    transform-origin: left top;
    content: ' ';
    transition: opacity ease 1.5;
}

.click_label::before {
    top: 14.4px;
    left: 8.2px;
    box-shadow: 0 0 0 1px transparent;
    transform: rotate(-135deg);
}

.click_label::after {
    top: 7.4px;
    left: 1px;
    transform: rotate(-45deg);
}

input[id="click"]:checked + .click_label {
    border-color: #000000;
}

input[id="click"]:checked + .click_label::after {
    height: 10px;
    animation: bottomcheck 0.2s ease 0s forwards;
}

input[id="click"]:checked + .click_label::before {
    height: 24px;
    animation: topcheck 0.4s ease 0s forwards;
}

@keyframes bottomcheck {
    0% {
      height: 0;
    }
    100% {
      height: 10px;
    }
  }
  @keyframes topcheck {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: 24px;
    }
  }